# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Python virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Environment variables / secrets
.env

# Build files
build/
dist/
*.egg-info/